<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>body</th>
      <th colspan="3"></th>
    </tr>

<% @books.each do |book| %>

 <p>Title</p>
  <span><%= book.title %></span>

  <p>Body</p>
  <span><%= book.body %></span>


<tbody>
<tr>
  <tb>リーダブルコード</tb>
  <tb>より良いコードを書くためのシンプルで実践的なテクニック</tb>
  <tb><%= link_to "Show", %></tb>
  <tb><%= link_to "edit", %></tb>
  <tb><%= link_to "Destroy", %></tb>
</tr>
</tbody>
</table>
<% end %>


<h2>New Book</h2>
<%= form_with model: @book do |f| %>
<h4>title</h4>
<%= f.text_field :title %>

<h4>body</h4>
<%= f. text_area :body %>

<%= f.submit :'Create Books' %>

<% end %>